attrs==19.1.0
bokeh==1.3.4
certifi==2019.9.11
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cycler==0.10.0
Fiona==1.8.6
Flask==1.1.1
geopandas==0.5.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.0.3
munch==2.3.2
mysql-connector-python==8.0.17
nltk==3.4.5
numpy==1.17.2
oauthlib==3.1.0
packaging==19.2
pandas==0.24.2
Pillow==6.1.0
protobuf==3.9.1
pyparsing==2.4.2
pyproj==2.3.1
PySocks==1.7.1
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
requests-oauthlib==1.2.0
Shapely==1.6.4.post2
six==1.12.0
SQLAlchemy==1.3.8
textblob==0.15.3
tornado==6.0.3
tweepy==3.8.0
tzlocal==2.0.0
urllib3==1.25.5
Werkzeug==0.16.0
