<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript">
            function round(n){n=parseFloat(n);return isNaN(n)?false:n.toFixed(2);}
        </script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
              integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
              crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
        <title>2020 Hopefuls</title>
    </head>

    <body>
        <nav class="navbar navbar">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" style="font-weight:bold; font-size:48" href="/">2020 Hopefuls   <h5 style="font-weight:bold"></h5></a>
            </div>
            <div class="btn-group">
                <!--<button type="button" class="btn btn-primary btn-lg " style="margin-top: 5px;"><a href="/">Grid</a></button>-->
                <a href="/" class="btn btn-primary btn-lg" role="button">Grid</a>
            </div>
             <div class="btn-group">
                <button type="button" data-toggle="dropdown" class="btn btn-primary btn-lg dropdown-toggle" style="margin-top: 5px;">Map</button>
                <ul class="dropdown-menu">
                    {% for row in cands %}
                        <li><a href="/map/{{ row.candidate }}">{{row.fullname}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="btn-group">
                <a href="/about" class="btn btn-primary btn-lg" role="button">About</a>
            </div>
          </div>
        </nav>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

    </body>

</html>