{% extends "index.html" %}

{% block body %}
  <script>
    setTimeout("location.reload(true);",30000);
    function gotoSection(cand) {
        window.location.assign( '/map/' + cand );
    };
    $( document ).ready(function() {
        var url = document.location.pathname;
        var urlSplit = url.split('/');
        var candidate = urlSplit[urlSplit.length-1];
        $("#changeStatus").val(candidate);
    })
  </script>

    <h4>Last update: {{ last_update }} central time <br> {{ tweets }} individual tweeters today</h4>
  <div>
    Twitter Sentiment for:

      <select id="changeStatus", class="changeStatus", name="changeStatus" onchange="gotoSection(this.value)">
        <option value="">Select a person:</option>
        <option value="All">All Candidates</option>
        {% for row in cands %}
            <option value={{ row.candidate }}>{{ row.fullname }}</option>
        {% endfor %}
      </select>

  </div>

  <div id="plotdiv">
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}
    {{ plot_div|indent(4)|safe }}
  </div>

{% endblock %}




